<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snake_2022.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Snake_2022.Properties.Settings>
            <setting name="player1" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="player2" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="player3" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="player4" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="player5" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="player6" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="player7" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="player8" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="player9" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="player10" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="record1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="record2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="record3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="record4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="record5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="record6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="record7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="record8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="record9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="record10" serializeAs="String">
                <value>0</value>
            </setting>
        </Snake_2022.Properties.Settings>
    </userSettings>
</configuration>